* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.responsiveCards {
    background: #f2f5f9;
    color: #111;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
}
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section h1 {
    justify-self: center;
    margin-bottom: 40px;
    color: #34495e;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start */
    width: 100%;
    gap: 20px; /* Adds consistent spacing between cards */
}

.card {
    flex: 0 0 calc(33.33% - 20px); /* Takes up one-third of the container width */
    max-width: calc(33.33% - 20px);
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.card:hover {
    border-color: #0ca5a5;
}

.card .cardTitle {
    font-size: 60px;
    color: #0ca5a5;
    margin-bottom: 20px;
}
.card .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    width: 100%;
    background: #0ca5a5;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 40px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #0ca5a5;
}
.card .btn:hover {
    color: #0ca5a5;
    background: transparent;
}

@media (max-width: 969px) {
    section{
        padding: 30px 0px;
    }
    section h1 {
        font-size: 40px;
    }
    .card {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}
@media (max-width: 767px) {

    .card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}